<!-- Begin ShinyStat Code -->
<script type="text/javascript" src="//codice.shinystat.com/cgi-bin/getcod.cgi?USER=clarkwire"></script>
<noscript>
<h6><a href="http://www.shinystat.com">
<img src="//www.shinystat.com/cgi-bin/shinystat.cgi?USER=clarkwire" alt="Free hit counter" style="border:0px" /></a></h6>
</noscript>
<!-- End ShinyStat Code -->
<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('categories') %></h3>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
